.main-container{
    /* background-color: black; */
    background: linear-gradient(rgb(38, 37, 37),rgb(19, 19, 24),rgb(39, 36, 36),rgb(64, 65, 64));
    background-size: cover;
    padding: 10px;
    color: white;
    margin: -10px;
}
.header-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:600px;
}
.header-main-text{
    margin-left: 25px;
    margin-top: 10px;
    font-size: 35px;
    color:gray;
}
.header-main-text:hover{
    color:white;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.header-list{
    display: flex;
    gap: 55px;
}
.header-list-items {
    text-decoration: none;
    font-size: 25px;
    color:gray;
}
.header-list-items:hover{
    border-bottom: 4px solid white;
    border-radius: 3px;
    color:white;
    padding-bottom: 5px;
    transition: 0.3s ease-in-out;
}
.text-container {
    margin-top: 100px;
    width: 900px;
  } 
  
  .text-area {
    margin-left: 100px;
    /* display: grid; */
    font-size: 70px;
  }
  .text-brief{
    margin-top: 50px;
    display: grid;
    color: gray;
    font-size: 32px;
    margin-left: 100px;
  }
  .text-brief:hover{
    color: white;
    transition: 0.2s ease-in-out;
    cursor: pointer;
  }
  #projects-container{
    margin-top: 50px;
  }
  .projects-topic{
    font-size: 65px;
    margin-left: 100px;
  }
  .project-list{
    text-align: left;
    margin-left: 60px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    margin-top: 50px;
  }
  .project-grid{
    border: 1px solid gray;
    height: 400px;
    border-radius: 30px;
    margin: 20px;
  }
  .project-grid:hover{
    transform: scale(1.1);
    transition: transform 0.4s ease-in-out;
  }
  .project-grid-text{
   margin-top: 350px;
   margin-left: 20px;
  }

  .project-list-items{
    list-style-type: none;
    font-size: 35px;
    color: gray;
  }
  
  .project-card{
    color: gray;
    font-size: 35px;
    text-decoration: none;
  }
   .project-card:hover{
    color: white;
    transition: 0.2s ease-in-out;
    border-bottom: 2px solid white;
  } 

  
  #contact-container{
    margin-left: 100px;
    margin-top: 50px;
  }  
  .form-heading{
    font-size: 65px;
    margin-bottom: 50px;
  }
  .form-main{
    width: 1200px;
  }
  .form-group {
    margin-bottom: 40px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    padding: 8px;
    width: 700px;
    height: 50px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  button {
    background-color: #7c7da1;
    color: white;
    padding: 10px 20px;
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3759b7;
  }
  